/saves/
/downloads/
/shaderpacks/
/local/
/logs/
/mod_data/
/defaultconfigs/
/schematics/
/ldlib/
/journeymap/
/crash-reports/
/backups/
/blueprints/
/.idea/
/modernfix/
/quests_structures/
/patchouli_books/