/saves/
/downloads/
/essential/
/shaderpacks/
/local/
/logs/
/mod_data/
/defaultconfigs/
/schematics/
/ldlib/
/journeymap/
/crash-reports/
/backups/
/blueprints/
/.idea/
/modernfix/
/quests_structures/
/patchouli_books/
/essential/
/gtceu/
/usercache.json
/usernamecache.json
/config/jei/world
/screenshots/
/minecraftinstance.json
/config/oculus.properties
/kubejs/config/
/fancymenu_data/
user-prefs.json
rhino.local.properties
patchouli_data.json
options.txt
modlist.html
minecraftinstance.json
manifest.json
changelog.txt
.curseclient
.vscode/settings.json
.mixin.out/
.github/
ESM/
config/modernfix*
config/moonlight*
config/defaultworldtype/world-presets.txt
config/defaultworldtype/biomes.txt
config/powah.json5