/saves/
/downloads/
/essential/
/shaderpacks/
/local/
/logs/
/mod_data/
/defaultconfigs/
/schematics/
/ldlib/
/journeymap/
/crash-reports/
/backups/
/blueprints/
/.idea/
/modernfix/
/quests_structures/
/patchouli_books/
/essential/
/gtceu/
/usercache.json
/usernamecache.json
/config/jei/world
/screenshots/
/minecraftinstance.json
/config/oculus.properties
/kubejs/config/
/fancymenu_data/
user-prefs.json
rhino.local.properties
patchouli_data.json
options.txt
modlist.html
minecraftinstance.json
manifest.json
changelog.txt
.curseclient
.vscode/settings.json
.mixin.out/
.github/
ESM/
config/modernfix*
config/moonlight*
config/defaultworldtype/world-presets.txt
config/defaultworldtype/biomes.txt
config/powah.json5
config/entity_model_features.json
config/chat_heads.json5
config/gtceu.yaml
config/jade/*
.vscode/
config/expatternprovider-common.toml
config/integrateddynamics-common.toml
config/create-stuff-additions.toml
config/cupboard.json
config/apotheosis/enchantments.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/rightclickharvest.json5
config/jei/*
config/attributefix.json
config/createlowheated-common.toml
config/supplementaries-common.toml
BisectHosting.png
config/irons_spellbooks_spell_config/global_config.json
config/bloodmagic-common.toml
config/industrialforegoing/machine-resource-production.toml
config/farmersdelight*
config/justenoughbreeding-offsets.json
config/apotheosis/names.cfg
config/alltheleaks.json
config/canary.properties
config/cull-less-leaves.json
config/fancymenu/ui_themes/
config/jecalculation/
config/sophisticated*
config/productivevillagers-common.toml
moonlight-global-datapacks/
config/de/
config/apotheosis/
config/ars_elemental/
config/NoChatReports/
config/pickupnotifier/
config/quark_emotes/
config/spark/
config/valkyrielib/
config/villagernames/
config/almostunified/debug.json
config/almostunified/debug.json.bak
config/almostunified/duplicates.json
config/almostunified/startup.json
config/railways-client.toml
config/refinedstorage-client.toml
config/rftoolsutility-client.toml
config/sebastrnlib-client.toml
config/sodiumdynamiclights-client.toml
config/solapplepie-client.toml
config/solcarrot-client.toml
config/structurize-client.toml
config/tconstruct*
config/theoneprobe-client.toml
config/thermal-client.toml
config/visualworkbench-client.toml
config/workers-common.toml
config/zeta-common.toml
config/starterkit.json5
config/torchmaster.toml
config/transition.json
config/trashcans-common.toml
config/treeharvester.json5
config/trender.json
config/villagernames.json5
config/villagersrespawn-common.toml
config/villagespawnpoint.json5
config/Mekanism/client.toml